/*
Resetear el navegador
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/*
Crear container
*/

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 7px;
  padding: 12px; /* gutters */
}

/*
formula para el ancho de las columnas (numero columnas / 12) * 100
*/

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

/*MIS ESTILOS*/

img {
  width: 100%;
}

.header {
  height: 400px;
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  z-index: 5;
}

.dark {
  top: 70px;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, .6);
  height: 330px;
  width: 100%;
} 

.title {
  position: absolute;
  z-index: 15;
  text-align: center;
}

header .row {
  background-color: #343A40;
}

.title h1, h2 {
  padding-top: 150px;
  font-weight: 100;
  font-size: 80px;
  line-height: 10px;
}

.title h2{
  font-size: 30px;
  padding-top: 60px;
}

.nav-men {
	display: none;
	color: white;
}

li {
  display: inline-block;
  margin-right: 10px;
}

ul {
  float: right;
}

.img img {
  border-radius: 50%;
}

.info {
  padding-top: 100px;
}

h4 {
  font-size: 35px;
  font-weight: 100;
}


footer {
  height: 100px;
  background-color: #343A40;
  color: white;
  text-align: center;
}

h6 {
  padding-top: 30px;
  font-weight: 100;
}

@media (max-width: 450px) {
  [class*="col-"] {
    width: 100%;
  }
}